.menuItem {
	border: 2px solid #000;
	border-radius: 7px;
	margin: 10px 10px 5px;
	padding: 10px;
	text-align: center;
	flex-grow: 1;
	box-shadow: 2px 2px 2px #a5a5a5;
	background: #f7f7f7;
	min-width: 350px;
}

.itemName {
	text-transform: uppercase;
	color: #961212;
	font-weight: 700;
	padding-bottom: 5px;
	font-size: 16px;
}

.description {
	font-weight: 500;
	font-size: 14px;
}

.price {
	padding-left: 10px;
}
