.menuSection {
	text-align: center;
	padding: 10px;
}

.menuSectionTitle {
	color: #961212;
	font-size: 35px;
	margin-top: 10px;
}

.openClose {
	font-size: 25px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	padding-bottom: 5px;
	padding-left: 10px;
}
